*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
}

i{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

.navBar{
    background-color: #212529;
    position: sticky;
    top: 0;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    margin-bottom: 30px;
}

.cart{
    position: relative;
    background-color: white;
    color: #212529;
    padding: 5px;
    font-size: 30px;
    border-radius: 4px;
}
.cartAmount{
    position: absolute;
    top: -15px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 3px;
    border-radius: 5px;
}

/**
* !shop items styles are here.
**/

.shop{
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

@media (max-width: 1000px){
    .shop{
    grid-template-columns: repeat(2, 223px);
    }
}
@media (max-width: 500px){
    .shop{
    grid-template-columns: repeat(1, 223px);
    }
}

.item{
    border: 2px solid #212529;
    border-radius: 4px;
}

.item img{
    width: 100%;
    border-radius: 2px 2px 0 0;
}

.details{
    display: flex;
    /* flex-direction: row; this is by defalut when we set the display to flex. */
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.price-quanitiy{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.bi-dash-lg{
    color: red;
}

.bi-plus-lg{
    color: green;
}


/**
* ! style rules for label and some buttons
**/
.text-center{
    text-align: center;
    margin-bottom: 20px;
}

.homeButton , .Checkout, .removeAll{
    background-color: #212529;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
    padding: 6px;
}
.Checkout{
    background-color: green;
}

.removeAll{
    background-color: red;
}
.bi-x-lg{
    color: red;
    font-weight: bold;
}
/**
*! style rules for shoppingCart
**/

.shoppingCart{
    display: grid;
    grid-template-columns: repeat(1 , 320px);
    gap: 10px;
    justify-content: center;
    border-radius: 5px;
}

/**
*! style rules for cartItem
**/

.cart-item{
    border: 2px solid #212529;
    display: flex;
}

.title-price-x{
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-price{
    display: flex;
    align-items: center;
    gap: 10px; 
}

.cart-item-price{
    background-color: #212529;
    color: white;
    border-radius: 3px;
    padding: 3px 6px;
}

